# This is your Mineflayer bot's configuration file. THIS IS FOR ROBLOX :screaming:
# Note: if you're looking for feature (friendly mode, spammer) options, please go to the settings.json.

#==============================================================================
# OPTIONAL = Optional value, can be left blank.
# IMPORTANT = It is recommended that you pay attention to the value.

#==============================================================================
# IMPORTANT - Add your server ip here, if the server doesn't use the default 25565 port.
# Setting the port that works on the server is recommended.
# Example: MC_HOST="johndieselmc.com" || MC_PORT="27452"
MC_HOST="" 
MC_PORT="" 

#==============================================================================
# IMPORTANT - Add your bot name here.
# Example : MC_USERNAME="anaTrack"
MC_USERNAME=""

#==============================================================================
# OPTIONAL - Your server Minecraft version, can be left blank because Mineflayer can scan the version it
# should work on the server. If your server is using ViaVersion, please config the version to prevent something stupid idk
# Example : MC_USERNAME="anaTrack"
MC_VERSION=""

#==============================================================================
# IMPORTANT - This is useful for commands, blah blah blah blah blah.
# Recommended prefix (what) : ","
INGAME_PREFIX=""